body {
    margin: 0;
    padding: 0;
    background-color: #EAF1FF;
}

/* footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
} */

.nav{
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    background-color: #C8E2EC;
    height: 12%;
}

.navbar{
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    padding: 20px 40px; /* Optional padding for aesthetics */
}

.navbar a:not(.jinxnav){
    text-decoration: none; /* Remove underline */
    margin-bottom: 10px;
    font-size: 20px;
    color:#000;
    
}

.navbar a:hover:not(.jinxnav){
    color:rgb(216, 171, 216);
    font-size: 28px;
    text-decoration: underline;
    font-weight: bold;
}


/* Links inside the navbar */
/* .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */

img{
    width:650px;
    height:748px;
    float:left;
}

.MainText{
    font-weight:lighter;
    font-size: 60px;
    text-align: center;
    font-family: "Baskervville SC", serif;
    line-height: 200%;
    font-weight:400;
    height: 550px;
    margin-left: 684px;
    margin-right: 75px;
    position: absolute; /* Change to absolute */
    padding:40px;
    padding-bottom: 40px;
    color:#375032;
}

.jinxnav{
    width: 312px;
height: 58px;
flex-shrink: 0;
color: #000;
font-family: "Anton", sans-serif;
letter-spacing: 2px; /* Adjust the value as needed */
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }