body {
    margin: 0;
    padding: 0;
    background-color: #EAF1FF;
}

.nav{
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    background-color: #C8E2EC;
    height: 12%;
}

.navbar{
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Center items vertically */
    padding: 20px 40px; /* Optional padding for aesthetics */
}

.navbar a:not(.jinxnav){
    text-decoration: none; /* Remove underline */
    margin-bottom: 10px;
    font-size: 20px;
    color:#000;
    
}

.navbar a:hover:not(.jinxnav){
    color:rgb(216, 171, 216);
    font-size: 28px;
    text-decoration: underline;
    font-weight: bold;
}


.jinxnav{
    width: 312px;
height: 58px;
flex-shrink: 0;
color: #000;
font-family: "Anton", sans-serif;
letter-spacing: 2px; /* Adjust the value as needed */
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.issues-container {
    display: flex;
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 30px;
    justify-content: space-around;
    align-items: center; /* Vertically center the image and content */
}

.issueimg {
    width: 350px;
    margin-right: 20px; /* Adjust the margin to control spacing */
}

.issuecontent {
    margin-left: 10px;
    padding:10px;
    width:80%;
}

.issue h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #375032;
}

.issue p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000;
}
.issueimg{
    width:350px;
}

.pdf-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #375032;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.pdf-link:hover {
    background-color: rgb(216, 171, 216);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1{
    font-weight:lighter;
    font-size: 60px;
    font-family: "Baskervville SC", serif;
    font-weight:400;
    margin-left: 2%;
}
